svg {
  font: 10px sans-serif;
}

.cell text {
  font-weight: bold;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
  stroke-width: .5px;
}

.axis path {
  display: none;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

circle {
  fill: #ccc;
  fill-opacity: .5;
}

.cell text {
  pointer-events: none;
}

.UnderMatric {
  fill: #aa0000;
}

.Matric {
  fill: #dd6f00;
}

.InterHigherSecondary, .CertificateCourse {
  fill: #eeee00;
}

.UnderGraduate, .DiplomaCourse {
  fill: #6fdd00;
}

.ProfessionalGraduate, .Graduate, .PostDiplomaCourse {
  fill: #00dddd;
}

.PostGraduate {
  fill: #0000cc;
}

.Doctorate {
  fill: #ee00ee;
}

.Informationnotavailable, .Others {
  fill: #fff;
  stroke: #000;
}

