@charset "utf-8";
.panel {
	float: right;
	width: 28%;
	height: auto;
	min-height: 400px;
}
.panelf {
	padding: 10px;
	border-radius:3px;
	margin-top:20px;margin-bottom:20px;border:thin ridge #CCC;
}
